:root {
    --primary-color: #1F2B1C;
    --secondary-color: #B2CB9E;
    --tertiary-color: #AAEADE;
  }

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
}

#logo {
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: fit-content;
}

#logo svg {
    width: 37px;
    height: 37px;
}

#logo #pure {
    font-family: "Molle", sans-serif;
    font-weight: 400;
    margin-left: 3px;
    transform: translateY(3px);
}

.bg {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    background-image: url('../webp/dew-bg-640.webp');
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}

.bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(224, 255, 214, 0.65);
}

.banner {
    width: 100vw;
    height: 18rem;
    position: relative;
    margin-top: 3.5rem;
    padding-top: 3rem;
}

.banner .background {
    background-image: url('../webp/monitor-400.webp');
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    filter: brightness(0.5);
    z-index: -1;
}

.banner h1 {
    font-size: 37px;
    font-weight: 500;
    color: #fff;
    margin-left: 1rem;
}

.schedule {
    padding: 0 15px;
    display: grid;
    margin: 4rem 0;
    row-gap: 2.5rem;
    justify-items: center;
    border: 1px solid red;
}

.schedule h2 {
    font-size: 38px;
}

.schedule p {
    line-height: 1.5rem;
}

.schedule img {
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.schedule form {
    background: #fff;
    padding: 1rem 1.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 470px;
}

form h3 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}

form .form-input {
    margin-bottom: 1.3rem;
}

.form-input label {
    display: block;
    margin-bottom: 3px;
    font-weight: 600;
}

.form-input input {
    width: 100%;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0 1rem;
    outline: none;
}

.form-input input::placeholder {
    
}

.form-input textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

.form-input input[aria-invalid="false"] {
    background: rgb(208, 250, 208);
    border: 1px solid rgb(0, 150, 0);
}

.form-input input[aria-invalid="true"] {
    background: rgb(255, 200, 200);
    border: 1px solid rgb(150 0 0);
}

.form-input input:focus {
    border: 2px solid #000;
}

.form-input .error-message {
    color: red;
    font-size: 1rem;
    font-size: 0.9rem;
    margin-top: 3px;
    visibility: visible;
}

.form-input .error-message[aria-hidden="true"] {
    visibility: hidden;
}

form button {
    margin: 0 auto;
    border-radius: 0;
}

.quick-links {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem 1rem;
    gap: 2rem;
}

.quick-links nav {
    width: 240px;
}

.quick-links nav h3 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.quick-links nav ul {
    list-style-type: none;
}

.quick-links nav ul li {
    margin-bottom: 1rem;
}

.quick-links nav ul li a {
    color: #fff;
    text-wrap: wrap;
    transition: color 0.3s ease-in-out;
}

.quick-links nav ul li a:hover,
.quick-links nav ul li a:focus {
    color: var(--secondary-color);
}

.quick-links nav ul li a svg {
    width: 28px;
    height: 28px;
    position: relative;
    bottom: 0;
    transition: bottom 0.3s ease-in-out;
}

.quick-links nav ul li a svg:hover {
    bottom: 5px;
}

footer {
    background: var(--primary-color);
    padding: 1.5rem;
    color: #ffffffd7;
    text-align: center;
    font-size: 0.8rem;
}

footer a {
    color: #ffffffd7;
    text-decoration: underline;
}

@media screen and (min-width: 640px) {
    .bg {
        background-image: url('../webp/dew-bg-3000.webp');
    }

    .banner .background {
        background-image: url('../webp/monitor-600.webp');
    }

    .schedule form {
        padding: 2rem 3rem;
    }

    .form-input input {
        height: 2.5rem;
    } 

    form button {
        margin: 0;
        margin-left: auto;
    }
}

@media screen and (min-width: 900px) {
    .banner {
        height: 23rem;
        margin-top: 5rem;
    }

    .banner .background {
        background-image: url('../webp/monitor-1920.webp');
        background-position: right;
    }

    .banner h1 {
        font-size: 58px;
        margin-left: 3rem;
        max-width: 48rem;
    }
    
    .banner .link-secondary {
        margin-left: 3rem;
    }
}
 
@media screen and (min-width: 1200px) {
   
}

@media screen and (min-width: 1920px) {
    
}
