/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/montserrat-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
:root {
  --primary-color: #1F2B1C;
  --secondary-color: #B8D2AF;
  --tertiary-color: #AAEADE;
}

header {
  border: 1px solid green;
}

.btn-toggle-nav {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

nav {
  border: 1px solid orange;
  width: 250px;
  position: absolute;
  top: 0;
  right: -100%;
  background: #fff;
  padding: 35px 15px;
}

nav[data-display="true"] {
  right: 0;
}

nav ul li {
  list-style-type: none;
  /* border: 1px solid #00000071; */
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #000;
}

.btn-dropdown-nav {
  transition: transform 0.3s;
  background: none;
  border: none;
}

.btn-dropdown-nav * {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-extend {
  transform: rotate(90deg);
}

.dropdown-bar[data-visible="false"] {
  display: none;
}

.link-secondary {
  background: var(--secondary-color);
  font-size: 14px;
  border-radius: 10px;
  padding: 10px 5px;
}