:root {
    --primary-color: #1F2B1C;
    --secondary-color: #B2CB9E;
    --tertiary-color: #AAEADE;
  }

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
}

#logo {
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: fit-content;
}

#logo svg {
    width: 37px;
    height: 37px;
}

#logo #pure {
    font-family: "Molle", sans-serif;
    font-weight: 400;
    margin-left: 3px;
    transform: translateY(3px);
}

#services-nav {
    font-weight: bold;
}

.bg {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    background-image: url('../webp/dew-bg-640.webp');
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}

.bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(224, 255, 214, 0.65);
}

.banner {
    width: 100vw;
    height: 20rem;
    position: relative;
    margin-top: 3.5rem;
    padding-top: 3rem;
}

.banner .background {
    background-image: url('../webp/monitor-400.webp');
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    filter: brightness(0.5);
    z-index: -1;
}

.banner h1 {
    font-size: 37px;
    font-weight: 500;
    color: #fff;
    margin-left: 1rem;
}

.banner .link-secondary {
    margin: 2rem 1rem 3rem 1rem;
}

h2 {
    font-size: 28px;
}

.services {
    max-width: 875px;
    margin: 4rem auto 0 auto;
    padding: 15px;
}

.services h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.services .service {
    /* border: 1px solid blue; */
    display: grid;
    justify-items: center;
    row-gap: 2rem;
    margin-bottom: 5rem; 
}

.service .service-icon {
    background: var(--primary-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.service .service-icon svg {
    width: 35px;
    height: 35px;
}

h3 {
    font-size: 24px;
}

.service p {
    line-height: 1.5rem;
}

.contact {
    display: grid;
    grid-template-columns: auto 1fr;
    background: var(--primary-color);
}

.contact img {
    width: fit-content
}

.contact .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-bottom: 1px solid #edddc371;
}

.contact .socials svg {
    width: 30px;
    height: 30px;
}

.contact .contact-details {
    grid-column: 1 / 3;
    color: #EDDDC3;
    text-align: center;
    padding: 2.5rem 0;
    position: relative;
}

.contact .contact-details > *:not(a) {
    margin-bottom: 25px;
}

.contact .contact-details h2 {
    max-width: 100vw;
}

.contact-details .contact-number {
    color: #EDDDC3;
}

.contact-number span {
    opacity: 0.7;
    display: inline-block;
}

.contact-number a {
    opacity: 1;
    color: #EDDDC3;
    display: inline-block;
}

.contact-details svg {
    width: 24px;
    height: 18px;
}

.contact-details > a {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.visit aside .gallery {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
    margin: 5rem auto;
    border-radius: 0 20px;
    overflow: hidden;
    position: relative;
}

.visit .visit-details {
    padding: 15px;
}

.visit-details h2 {
    margin: 0;
}

.visit-details p {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.2rem;
}

.visit-details p svg {
    display: block;
    min-width: 30px;
    height: 30px;
}

.visit-details p span {
    font-weight: 600;
}

.visit-details .link-secondary {
    margin: 1.5rem 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.visit-details .map {
    margin: 0 auto;
    display: block;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.visit-details .map img {
    width: 100%;
    object-fit: cover;
}

.visit-details .map:hover,
.visit-details .map:focus {
    filter: brightness(0.8);
}


.quick-links {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem 1rem;
    gap: 2rem;
}

.quick-links nav {
    width: 240px;
}

.quick-links nav h3 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.quick-links nav ul {
    list-style-type: none;
}

.quick-links nav ul li {
    margin-bottom: 1rem;
}

.quick-links nav ul li a {
    color: #fff;
    text-wrap: wrap;
    transition: color 0.3s ease-in-out;
}

.quick-links nav ul li a:hover,
.quick-links nav ul li a:focus {
    color: var(--secondary-color);
}

.quick-links nav ul li a svg {
    width: 28px;
    height: 28px;
    position: relative;
    bottom: 0;
    transition: bottom 0.3s ease-in-out;
}

.quick-links nav ul li a svg:hover {
    bottom: 5px;
}

footer {
    background: var(--primary-color);
    padding: 1.5rem;
    color: #ffffffd7;
    text-align: center;
    font-size: 0.8rem;
}

footer a {
    color: #ffffffd7;
    text-decoration: underline;
}

@media screen and (min-width: 640px) {
    .bg {
        background-image: url('../webp/dew-bg-3000.webp');
    }

    .banner .background {
        background-image: url('../webp/monitor-600.webp');
    }
}

@media screen and (min-width: 900px) {
    .banner {
        height: 27rem;
        margin-top: 5rem;
    }

    .banner .background {
        background-image: url('../webp/monitor-1920.webp');
        background-position: right;
    }

    .banner h1 {
        font-size: 58px;
        margin-left: 3rem;
        max-width: 48rem;
    }
    
    .banner .link-secondary {
        margin-left: 3rem;
    }

    .services h2 {
        font-size: 38px;
    }

    .service h3 {
        font-size: 30px;
    }

    .contact {
        grid-template-columns: auto 20% 1fr;
    }

    .contact img {
        height: 100%;
        object-fit: cover;
    }

    .contact .socials {
        padding-top: 2rem;
        justify-content: flex-start;
    }

    .contact .contact-details {
        grid-column: 3 / 4;
        padding: 0;
        padding-top: 1.5rem;
        padding-right: 25%;
    }

    .contact .contact-details svg {
        margin-bottom: 0;
    }

    .contact .contact-details > a {
        left: 38%;
    }

    .visit-details .map {
        width: 460px;
        transition: filter 0.3s ease-in-out;
    }
}
 
@media screen and (min-width: 1200px) {

    .contact .socials {
        padding-top: 3.6rem;
    }

    .contact .contact-details {
        padding-top: 3rem;
    }

    .visit {
        display: flex;
        gap: 15vw;
    }

    .visit aside {
        width: 35vw;
        height: calc(100vh + 200px);
        background: var(--tertiary-color);
    }

    .visit aside .gallery {
        right: -15%;
        margin-top: 7rem;
    }

    .visit .visit-details {
        margin-top: 7rem;
    }

    .visit-details .map {
        margin: 5rem 0;
    }
}

@media screen and (min-width: 1920px) {
    .visit aside .gallery {
        right: -35%;
    }
}
