/* molle-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Molle';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/molle-v23-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --primary-color: #1F2B1C;
    --secondary-color: #B2CB9E;
    --tertiary-color: #AAEADE;
  }

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
}

#logo {
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#logo svg {
    width: 37px;
    height: 37px;
}

#logo #pure {
    font-family: "Molle", sans-serif;
    font-weight: 400;
    margin-left: 3px;
    position: relative;
    top: 4px;
}

.bg {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    background-image: url('webp/dew-bg-640.webp');
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}

.bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(224, 255, 214, 0.74);
}

main {
    padding: 0 15px;
}

.hero aside {
    text-align: center;
    max-height: 1080px;
}

.hero aside img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 6rem;
    position: relative;
}

.hero-text {
    margin-top: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-text span {
    color: rgba(0, 0, 0, 0.5);
}

.hero-text p {
    line-height: 1.5rem;
}

.hero-text a {
    display: block;
}

.services {
    background: var(--secondary-color);
    text-align: center;
    padding: 5rem 0;
}

.services h2 {
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    /* max-width: 15rem; */
}

.services .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 4rem;
}

.service-card {
    min-height: 450px;
    width: 90%;
    max-width: 350px;
    text-align: left;
    background: #D2F5C6;
    border-radius: 10px;
    border-top: 10px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.service-icon {
    background: var(--primary-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
}

.service-icon svg {
    width: 40px;
    height: 40px;
}

.service-card h3 {
    margin-top: 1.5rem;
}

.service-card p {
    margin-top: 1.5rem;
    line-height: 1.5rem;
}

.service-card a {
    margin-top: auto;
    font-weight: 600;
    text-decoration: underline;
    transition: opacity 0.3s;
}

.service-card a:hover {
    opacity: 0.6;
}

@media screen and (min-width: 640px) {
    .bg {
        background-image: url('webp/dew-bg-3000.webp');
    }
}

@media screen and (min-width: 900px) {
    nav {
        background: none;
    }

    main {
        padding: 0;
    }

    .hero {
        display: flex;
    }   

    .hero aside {
        height: 100vh;
        flex: 1;
        background: var(--tertiary-color);
        position: relative;
    }

    .hero aside img {
        right: 0;
        top: 3.5rem;
        right: -110px;
        border-radius: 0;
    }

    .hero-text {
        flex: 2;
        margin-left: 110px;
        margin-top: 9rem;
    }

    h1 {
        font-size: 58px;
        margin-bottom: 1.4rem;
    }

    .hero-text p {
        max-width: 35rem;
    }

    .hero-text a {
        display: inline-block;
        margin-top: 2.5rem;
        margin-right: 12px;
    }

    .service-card {
        text-align: center;
    }
}
